:root{
  --font: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  --color: #FFC408;
  --bg-color:#434343;
  --bg-img: url(../assets/images/bg.png)
}

* {
	transition-duration: 0.5s;
}

body {
  background-image: var(--bg-img);
  background-size: cover;
  color: var(--color);
  font-family: var(--font);
}

a {
	color: rgb(201,162,61);
	text-decoration: none;
}

a:hover {
	color: rgb(253,249,123);				
  text-decoration: none;
}

nav{
  background-color: var(--bg-color);
  border-radius: 15px;
}

nav a:hover {
	color: rgb(253,249,123);				
  text-decoration: none;
  border-radius: 20px;
  background-color: rgba(253,249,123,0.2);
  padding: 15px;
}

nav ul{
  width: 100%;
}

nav ul li{
  display: inline-block;
  width: 20%;
  padding: 20px;
  text-align: center;  
}

main{
  width: 90%;
  margin: 20px auto;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.7);
  padding:20px;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  margin: auto;
  opacity: 0.4;  
}

h1,h2,h3 {
  text-align: center;
}

li{
  list-style-type: none;
}

span{
  color: #D0104C;
}

footer{
  text-align: center;
}

/*class areas*/
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-content: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
  grid-template-rows: repeat(auto-fill, 33.33%);
  justify-content: space-between;
  align-content: space-between;
}

.grid-item{
  width:90%;
  border:2px solid white;
  border-radius: 20px;
  margin: 10px 0;
  background-color: #434343;
  place-self: center center;
}

.least {
  border:2px solid white;
  border-radius: 20px;
  background-color: #434343;
  width:50%;
  place-self: center center;
}

.require li{
  list-style-type: square
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25pt;
  width:100%;
  text-align:center;
}

.download {
  background-color: white;
  border: 2px solid #555555;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 50%;
}

.update{
  background-color: white;
  border: 2px solid #555555;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 50%;
}

.download:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}