:root{
  --font: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  --color: #FFC408;
  --bg-color:#434343;
  --bg-img: url(../assets/images/bg.png)
}

@font-face {
  font-family: 'Kusunoki Extra';
  src: url('..assets/fonts/Kusunoki_Extra.ttf') format('truetype');
}

@font-face {
  font-family: 'Kusunoki Gothic';
  src: url('..assets/fonts/Kusunoki_Gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kusunoki Mincho';
  src: url('..assets/fonts/Kusunoki_Mincho.ttf') format('truetype');
}

@font-face {
  font-family: 'Kusunoki Retsuban';
  src: url('..assets/fonts/Kusunoki_Retsuban.ttf') format('truetype');
}

* {
	transition-duration: 0.5s;
}

body {
  background-image: var(--bg-img);
  background-size: cover;
  color: var(--color);
  font-family: var(--font);
}

a {
	color: rgb(201,162,61);
	text-decoration: none;
}

a:hover {
	color: rgb(253,249,123);				
  text-decoration: none;
}

nav{
  background-color: var(--bg-color);
  border-radius: 15px;
}

nav a:hover {
	color: rgb(253,249,123);				
  text-decoration: none;
  border-radius: 20px;
  background-color: rgba(253,249,123,0.2);
  padding: 15px;
}

nav ul{
  width: 100%;
}

nav ul li{
  display: inline-block;
  width: 20%;
  padding: 20px;
  text-align: center;  
}

main{
  width: 90%;
  margin: 20px auto;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.7);
  padding:20px;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  margin: auto;
  opacity: 0.4;  
}

h1,h2,h3 {
  text-align: center;
}

h2 {
  width: 100%;
  margin: 20px;
  padding: 10px;
}

li{
  list-style-type: none;
}

span{
  color: #D0104C;
}

footer{
  text-align: center;
}

/*class areas*/
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  align-items: stretch;
  
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
  justify-content: stretch;
  align-items: stretch;
}

.grid-item{
  width:90%;
  border:2px solid white;
  border-radius: 20px;
  margin: 10px 0;
  background-color: #434343;

}

.least {
  border:2px solid white;
  border-radius: 20px;
  background-color: #434343;
  width:90%;
}

.least h4{
  padding-left: 10px;
}

.least a{
  margin-bottom: 0;
  padding-bottom: 0;
}

.require li{
  list-style-type: square
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25pt;
  width:100%;
  text-align:center;
}

.download {
  background-color: white;
  border: 2px solid #555555;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 150px;

}

.update{
  background-color: white;
  border: 2px solid #555555;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 50%;
  width: 150px;s
}

.download:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.notice {
  width: 450px;
  height: 100px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: black;
  margin: auto;
}

.notice h2, .event, .time, .class, .status {
  display: inline-block;
  margin: auto;
  padding: 10px 10px;
}

.notice h2{
  color: white;
  padding: 0;
  border-bottom: 2px solid;
}

.time {
  font-family: Kusunoki_Retsuban;
  color: white;
}

.event {
  font-family: Kusunoki_Mincho;
  color: red;
}

.class {
  font-family: Kusunoki_Gothic;
  color: lightcoral;
}

.status {
  font-family: Kusunoki_Mincho;
  color: darkgreen;
  
}
