@charset "UTF-8";

*{
  font: 300 14px/1.7em 'Montserrat', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  font-feature-settings : "palt" 1;
  letter-spacing: 0.15em;
  line-height: 1.8em;
  color: #606060;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
}
body{
  text-align: center;
  margin: 0 auto;
  animation: fadein 3s;
}
@keyframes fadein{
  0%{opacity: 0;}
  30%{opacity: 0;}
  100%{opacity: 1;}
}
a{
  cursor: pointer;
  cursor: hand;
}

/*＊＊＊＊＊＊＊＊＊
トップページ 共通装飾
＊＊＊＊＊＊＊＊＊*/
.about, .news, .createdby, .thanks, .inspiration, .contact{
  height: 100vh;
  position: relative;
}
.about__inner, .news__inner, .createdby__inner, .thanks__inner, .inspiration__inner, .contact__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.index__title{
  font: 200% 'Dancing Script', cursive;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 60px;
}
.about, .news{
  position: relative;
  height: 100vh;
}
.back__white{
  background-color: #fff;
}
.text__comment{
  font-size: 80%;
  color: #c0c0c0;
}
/*パララックス背景*/
.parallax--about{
  background: url(img/img6.jpg) no-repeat fixed center;
}
.parallax--news{
  background: url(img/img3.jpg) no-repeat fixed center;
}
.parallax--createdby{
  background: url(img/img5.jpg) no-repeat fixed center;
}
.parallax--thanks{
  background: url(img/img5.jpg) no-repeat fixed center;
}
.parallax--inspiration{
  background: url(img/img9.jpg) no-repeat fixed center;
}
.parallax{
  height: 500px;
  position: relative;
  z-index: -2;
  background-size: cover;
}
.parallax:before{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 1;
	content: "";
	background-color:rgba(0,0,0,0.2);
}

/*＊＊＊＊＊＊＊＊＊
グローバルナビ
＊＊＊＊＊＊＊＊＊*/
.nav{
  background: rgba(255,255,255,0.9);
  position: fixed;
  display: none;
  width: 100vw;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 9997;
}
.nav__inner{
	width: 900px;
  margin: 0 auto;
}
.nav__one {
	width: 20%;
  float: left;
  margin: 0;
  padding: 0;
}
.nav__one--a{
  display: block;
  padding: 15px 0;
  font-weight: 300;
  font-size: 80%;
  letter-spacing: 2px;
}
.nav__one--a:hover{
  color: #a9a9a9;
  cursor: pointer;
  cursor: hand;
  animation: gradation_text 0.2s;
}
@keyframes gradation_text{
  0%{color: #000;}
  100%{color: #a9a9a9;}
}

/*＊＊＊＊＊＊＊＊＊
トップ画面
＊＊＊＊＊＊＊＊＊*/
.top{
  height: 100vh;
  z-index: -1;
  background: url(img/top_img_1122.jpg) center center/cover no-repeat fixed;
}
.top__logo{
  position: fixed;
  width: 350px;
  margin-top: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: logo 4s;
}
.top__sign{
  width: 40px;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: auto;
  animation: logo 4s;
}
@media screen and (max-width:600px) {
  .top{
    background-image: transparent;
  }
  .top::before {
    background: url(img/top__img.jpg) center/cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    z-index: -2;
  }
  .top__logo{
    width: 70%;
    top: 45%;
  }
  .top__sign{
    width: 30px;
  }
}
@keyframes logo{
  0%{opacity: 0;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

/*＊＊＊＊＊＊＊＊＊
トップページ about
＊＊＊＊＊＊＊＊＊*/
.about__inner{
  width: 600px;
}
.about__text{
  text-align: justify;
}
.about__text--english{
  margin-top: 30px;
  font-size: 80%;
  color: #c0c0c0;
  text-align: justify;
}
.about__button{
  margin-top: 70px;
  padding: 15px 50px;
  display: inline-block;
  color: #c5a05a;
  text-align: center;
  background: url(img/back_1.png) center/contain no-repeat;
}
@media screen and (max-width: 720px){
  .about__inner{
    width: calc(100vw - 100px);
  }
}

/*＊＊＊＊＊＊＊＊＊
トップページ created by
＊＊＊＊＊＊＊＊＊*/
.createdby__name{
  font-size: 110%;
}
.createdby__name--english{
  margin: 0 0 20px 0;
  font-size: 70%;
}
.createdby__img{
  margin: 30px auto;
}
.createdby__sns--twitter{
  background: url(img/icon_twitter.png) center left/23px no-repeat;
  padding-left: 25px;
  margin-right: 20px;
}
.createdby__sns--niconico{
  background: url(img/icon_niconico.png) center left/20px no-repeat;
  background-size: 20px 20px;
  padding-left: 27px;
  margin-right: 20px;
}
.createdby__sns--youtube{
  background: url(img/icon_youtube.png) center left/40px no-repeat;
  padding-left: 45px;
}

/*＊＊＊＊＊＊＊＊＊
トップページ special thanks
＊＊＊＊＊＊＊＊＊*/
.thanks__img{
  margin-top: 30px;
  width: 500px;
}
.thanks__name, .thanks__name--menezu{
  background: url(img/icon_twitter.png) center left/23px no-repeat;
  padding-left: 25px;
}
.thanks__name--menezu{
  margin: 0 75px;
}

/*＊＊＊＊＊＊＊＊＊
トップページ inspiration
＊＊＊＊＊＊＊＊＊*/
.inspiration__inner{
  width: calc(100vw - 100px);
}
.inspiration__inner__links{
  width: 500px;
  margin: 40px auto;
}
@media screen and (max-width: 550px) {
  .inspiration__inner__links{
    width: calc(100vw - 100px);
  }
}
.inspiration__inner__link{
  width: 150px;
  display: inline-block;
  margin: 10px 10px 0 0;
  font: 120% 'Dancing Script', cursive;
  color: #c5a05a;
  letter-spacing: 0;
  line-height: 45px;
  background: url(img/back_2.png) center/contain no-repeat;
}
.inspiration__inner__link:hover{
  animation: min .3s ease forwards;
}
@keyframes min {
  0%{transform: scale(1);}
  100%{transform: scale(1.1);}
}

/*＊＊＊＊＊＊＊＊＊
トップページ contact
＊＊＊＊＊＊＊＊＊*/
.contact__inner__links{
  margin-top: 40px;
}
.contact__inner__link{
  margin-bottom: 10px;
}
.contact__inner__link--hover:hover{
  border-bottom: 1px solid;
}
.contact__inner__link--english{
  font-size: 80%;
}

/*＊＊＊＊＊＊＊＊＊
ダウンロードページ
＊＊＊＊＊＊＊＊＊*/
.download__all{
  background: #f3f3f3;
}
.download__top{
  margin: 200px 0 30px 0;
  font: 350% 'Dancing Script', cursive;
  letter-spacing: 0;
}
.download__title{
  position: relative;
  margin: 150px 0 70px 0;
}
.download__title span{
  position: relative;
  display: inline-block;
  padding: 0 20px;
  font: 200% 'Dancing Script', cursive;
  letter-spacing: 0;
  background: #f3f3f3;
  z-index: 2;
}
.download__title::before{
  width: 100vw;
  height: 1px;
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  background: #606060;
  z-index: 1;
}
.download__text--red{
  color: #b40404;
}
.download__text--small, .download__text--small--back{
  font-size: 80%;
  color: #c0c0c0;
}
.download__text--small--back{
  margin: 2px 0 10px 0;
  box-sizing: border-box;
  padding: 8px 15px;
  background: #fafafa;
}
.download__text--small--black{
  margin-top: 30px;
  font-size: 80%;
  color: #606060;
}
.download__text--small--red{
  font-size: 70%;
  color: #b40404;
}
.download__button{
  margin-top: 50px;
}
.download__button a{
  display: block;
  width: 300px;
  height: 3.5em;
  margin: 0 auto;
  line-height: 3.5em;
  background: url(img/back_3.png) center/contain no-repeat;
}
.download__button a, .download__button i{
  color: #c5a05a;
}

/*policy*/
.download__policy{
  width: 800px;
  padding: 70px 50px 50px 50px;
  box-sizing: border-box;
  margin: 50px auto 0 auto;
  background: #fff;
}
.download__policy__title{
  font-weight: bold;
  font-size: 120%;
  line-height: 1.5em;
}
.download__policy__inner{
  text-align: left;
}
.download__policy__inner__title{
  margin: 50px 0 20px 0;
  font-size: 120%;
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
}
.download__policy__inner__condition{
  box-sizing: border-box;
  padding: 20px 25px;
  margin: 7px 0 30px 0;
  text-align: justify;
  background: #f3f3f3;
  font-size: 90%;
}
.download__policy__inner__condition--bold{
  font-size: 100%;
  font-weight: bold;
}
.download__policy__inner__english{
  margin-top: 15px;
}
.download__policy__inner__bottom{
  margin-top: 10px;
  font-size: 90%;
  color: #c0c0c0;
  text-align: center;
}
@media screen and (max-width: 940px){
  .download__policy{
    width: calc(100vw - 100px);
  }
}
/*how to use*/
.download__howtouse{
  margin-top: 70px;
}

/*download*/
.download__download__accordion dt{
  display: block;
  width: 400px;
  height: 3.5em;
  margin: 30px auto 0 auto;
  line-height: 3.5em;
  border: 1px solid #606060;
  cursor: pointer;
  cursor: hand;
}
.download__download__accordion dd{
  display: none;
}
.download__download__button{
  display: block;
  width: 300px;
  height: 3.5em;
  margin: 15px auto;
  line-height: 3.5em;
  background: url(img/back_3.png) center/contain no-repeat;
}
.download__download__button a, .download__download__button i{
  color: #c5a05a;
}
.download__download__small{
  margin-top: 50px;
  line-height: 0;
}
/*history*/
.download__history{
  display: flex;
  text-align: left;
  width: 670px;
  margin: 0 auto;
}
.download__history__date{
  width: 120px;
}
.download__history__text{
  flex: 1;
}
.download__history__text a{
  text-decoration: underline;
}
@media screen and (max-width: 700px){
  .download__history__inner{
    width: calc(100vw - 100px);
  }
}
.ad{
  width: 670px;
  margin: 60px auto;
}

/*＊＊＊＊＊＊＊＊＊
ガイドページ
＊＊＊＊＊＊＊＊＊*/
.guide__top__title--sub{
  margin: -20px 0 50px 0;
}
.guide__top__text{
  width: 730px;
  margin: 0 auto 70px auto;
  text-align: justify;
}
@media screen and (max-width: 800px){
  .guide__top__text{
    width: calc(100vw - 100px);
  }
}
.guide__marker{
  background: linear-gradient(transparent 40%, #e3e3e3 0%);
}
.guide__link{
  border-bottom: 1px solid #606060;
}
.guide__accordion dt, .guide__accordion__modal1 dt, .guide__accordion__modal2 dt{
  font-size: 120%;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  text-align: center;
  background: url(img/down_min.png) 85% no-repeat;
  cursor: pointer;
  cursor: hand;
}
.guide__accordion dt.active{
  background: url(img/up_min.png) 85% no-repeat;
}
.guide__accordion dd{
  display: none;
  width: 730px;
  margin: 0 auto;
}
.guide__accordion__caption{
  text-align: center;
  margin-bottom: 25px;
}
.guide__accordion__process{
  float: left;
  width: 340px;
  height: 330px;
  margin-top: 30px;
  text-align: justify;
}
.guide__accordion__process--title{
  box-sizing: border-box;
  padding: 10px 20px;
  background: #f3f3f3;
}
.guide__accordion div:nth-of-type(even), .guide__accordion__modal1 div:nth-of-type(even), .guide__accordion__modal2 div:nth-of-type(even){/*.guide__accordion__process*/
  margin-left: 50px;
}
.guide__accordion__process__number{
  margin-top: 5px;
  text-align: justify;
}
.guide__accordion div p:nth-of-type(odd), .guide__accordion__modal1 div p:nth-of-type(odd), .guide__accordion__modal2 div p:nth-of-type(odd){/*.guide__accordion__process__number*/
  position: absolute;
  background: #e3e3e3;
  margin-top: 0;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #dcdcdc;
}
.guide__accordion__process__image{
  width: 340px;
  border: 1px solid #dcdcdc;
}
.guide__accordion__modal1_open, .guide__accordion__modal2_open, .guide__accordion__process--small{
  font-size: 80%;
  color: #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}
.guide__ad{
  width: 730px;
  margin: 60px auto;
}

/*＊＊＊＊＊＊＊＊＊
カタログページ
＊＊＊＊＊＊＊＊＊*/
.catalog__caption--english{
  font-size: 80%;
  color: #c0c0c0;
}
.catalog__inner{
  margin-top: 70px;
  text-align: left;
}
.catalog__nav__icon{
  margin-right: 5px;
  height: 27px;
  vertical-align: middle;
}
.catalog__nav__title{
  font: 130% 'Dancing Script', cursive;
  margin: 30px 0 10px 0;
  letter-spacing: 0;
}
.catalog__nav{
  width: 180px;
  float: left;
  margin-top: 40px;
  padding-left: 50px;
}
.catalog__nav a{
  font-size: 80%;
}
.catalog__nav--fixed{
  position: fixed;
  top: 0;
}
.catalog__itemlist{
  margin-left: 230px;
}
.catalog__itemlist__title{
  padding-top: 70px;
  margin: -50px 50px 30px 0;
  font: 170%/1.3em 'Dancing Script', cursive;
  letter-spacing: 0;
  border-bottom: 1px solid #c0c0c0;
}
.catalog__itemlist li{
  float: left;
  width: 160px;
  height: 250px;
}
.catalog__itemlist li img{
  width: 155px;
}
.catalog__itemlist__id{
  font-size: 80%;
  letter-spacing: 0.07em;
}
.catalog__itemlist__name{
  color: #c0c0c0;
  font-size: 70%;
  letter-spacing: 0.07em;
}

/*＊＊＊＊＊＊＊＊＊
モーダルウィンドウ
＊＊＊＊＊＊＊＊＊*/
#d_policy_eng_back, #contact_modal_back, #d_ctm_modal_back, .guide__accordion__modal1_back, .guide__accordion__modal2_back, #cocricot_modal_back, #opti_modal_back{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9998;
}
#d_policy_eng, #contact_modal, #cocricot_modal_1122, #cocricot_modal_1122_mod, #cocricot_modal_1102,  #opti_modal_1122, #opti_modal_1122_mod, #opti_modal_1102, #cocricot_modal_1710, #opti_modal_1710{
  position: fixed;
  display: none;
  padding: 10px 40px;
  width: 700px;
  height: 570px;
  background: #fff;
  z-index: 9999;
}
#cocricot_modal_1102, #cocricot_modal_1710, #cocricot_modal_1122, #cocricot_modal_1122_mod{
  height: 190px;
}
#opti_modal_1102, #opti_modal_1710, #opti_modal_1122, #opti_modal_1122_mod{
  height: 180px;
}
 #cocricot_modal_1122 p, #cocricot_modal_1122_mod p, #cocricot_modal_1102 p, #opti_modal_1102 p, #cocricot_modal_1710 p, #opti_modal_1710 p{
  margin-top: 30px;
}
 #opti_modal_1122 p, #opti_modal_1122_mod p, #opti_modal_1102 p, #opti_modal_1102 a, #opti_modal_1710 p, #opti_modal_1710 a{
  color: #b22222;
  font-weight: bold;
}
 #opti_modal_1122 a, #opti_modal_1122_mod a, #opti_modal_1102 a, #opti_modal_1710 a{
  border-bottom: 1px solid #b22222;
}
 #cocricot_modal_1122 a, #cocricot_modal_1122_mod a, #cocricot_modal_1102 a, #cocricot_modal_1710 a{
  border-bottom: 1px solid;
}
#cocricot_modal_1122 p:nth-of-type(2), #opti_modal_1122 p:nth-of-type(2), #cocricot_modal_1122_mod p:nth-of-type(2), #opti_modal_1122_mod p:nth-of-type(2), #cocricot_modal_1102 p:nth-of-type(2), #opti_modal_1102 p:nth-of-type(2), #cocricot_modal_1710 p:nth-of-type(2), #opti_modal_1710 p:nth-of-type(2){
  margin: 3px auto 30px auto;
  font-weight: normal;
  color: #c0c0c0;
  font-size: 70%;
}
#cocricot_modal_1122 button, #opti_modal_1122 button, #cocricot_modal_1122_mod button, #opti_modal_1122_mod button, #cocricot_modal_1102 button, #opti_modal_1102 button, #cocricot_modal_1710 button, #opti_modal_1710 button{
  letter-spacing: 5px;
  margin-bottom: -10px;
  color: #000;
  font-weight: bold;
  width: 156px;
  padding: 10px 0;
  background: #eee7e0;
}
#cocricot_modal_1122 button:nth-of-type(1), #cocricot_modal_1122_mod button:nth-of-type(1), #cocricot_modal_1102 button:nth-of-type(1), #cocricot_modal_1710 button:nth-of-type(1){
  color: #808080;
  font-weight: normal;
}
#opti_modal_1122 button, #opti_modal_1122_mod button, #opti_modal_1102 button, #opti_modal_1710 button{
  color: #606060;
  font-weight: normal;
}
#cocricot_modal_1122 button+button, #cocricot_modal_1122_mod button+button, #cocricot_modal_1102 button+button, #cocricot_modal_1710 button+button{
  margin-left: 20px;
}
.guide__accordion__modal1, .guide__accordion__modal2{
  position: fixed;
  display: none;
  padding: 10px 60px;
  width: 730px;
  height: 490px;
  background: #fff;
  z-index: 9999;
}
.guide__accordion__modal1 dt, .guide__accordion__modal2 dt{
  cursor: auto;
  margin-top: 50px;
  background: none;
}
.guide__accordion__modal1 dd, , .guide__accordion__modal2 dd{
  display: block;
}

/*footer*/
footer{
  margin: 100px 0 -30px 0;
  background: #eee7e0;
  padding: 40px 0 20px 0;
}
footer p{
  font-size: 70%;
}
